.categories-list {
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 40px;
}

.category-item {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.75px;
    color: #252525;
    opacity: 0.3;
    cursor: pointer;
}

.category-item.active {
    opacity: 1;
}