.stars {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.star {
    height: 15px;
    width: 15px;
    background-image: url('../../../../assets/icons/star.svg');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.5;
}

.star.active {
    opacity: 1;
}